body {
    /* font-family: 'Pretendard', 'Montserrat', 'Roboto', 'Pretendard Variable', 'Noto Sans KR', sans-serif; */
    font-family: 'Pretendard', 'Roboto', 'Noto Sans KR', sans-serif;
    letter-spacing: -0.025em;
}

:root {
    --main_color: #d74274;
}

p {
    word-break: keep-all;
    line-height: 1.3;
}

.inner {
    max-width: 1340px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    line-height: 100px;
    width: 100%;

    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}

.header.on {
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.header_wrap {
    display: flex;
    justify-content: space-between;

    max-width: 1700px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    width: 120px;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav a {
    position: relative;

    display: block;
    line-height: 100px;
    color: #fff;

    font-size: 16px;
}

nav a.on {
    color: #444;
}

nav.on a {
    color: #444;
}

/* nav a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);

    width: 5px;
    height: 5px;
    background: #fff;
    border-radius: 50%;

    transition: 0.3s;
} */

nav.on a::before {
    background: #444;
}

nav a.on::before {
    background: #444;
}

nav a:hover::before {
    width: 8px;
    height: 8px;
}

/* nav a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);

    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    opacity: 0;
} */


nav a.on::after {
    border: 1px solid #444;
    opacity: 1
}

nav.on a::after {
    border: 1px solid #444;
}

/* nav a:hover::after {
    opacity: 1;
} */

nav li.on a {
    font-weight: 900;
}


.section {
    height: 100vh;
    background: var(--main_color);
}

.section:nth-of-type(2) {
    background: #fff;
}

.section:nth-of-type(4) {
    background: #fff;
}

.section:nth-of-type(6) {
    background: #fff;
}

.mainVisual {
    background: url(../img/main_02.jpg)no-repeat center center/cover;
}

.mainVisual::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.4;
    height: 100%;
}

/* .mainVisual .inner {
    width: 1200px;
    margin: 0 auto;
} */

/* .mainVisual .inner .top {
    width: 600px;
    height: 300px;
} */


.mainVisual .main_slide .itm {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* outline: 1px solid red; */
    /* padding: 0 50px;
    background: rgb(0, 0, 0, 0.5); */
}

/* .mainVisual .main_slide .itm strong {
    display: block;
    margin: 0 0 30px 0;
    font-size: 80px;
    font-weight: 900;

    text-shadow: 1px 0 3px rgb(255 255 255 / 25%);
    background: linear-gradient(to right top, #0a96ba, #032777, #333333);
    color: transparent;
    -webkit-background-clip: text;
} */

.mainVisual .main_slide .slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    /* transform: translate(-50%, 0); */
}

.mainVisual .main_slide .slick-dots li {
    display: inline-block;
    margin: 0 10px 0 0;
}

.mainVisual .main_slide .slick-dots li button {
    font-size: 0;
    border: none;
    background: rgb(249, 249, 249, 0.4);

    width: 15px;
    height: 15px;

    cursor: pointer;
}

.mainVisual .main_slide .slick-dots li.slick-active button {
    /* background: #0dcaf0;
    background: #7251ff; */
    background: var(--main_color);
}

.mainVisual .main_slide .itm strong {
    display: block;
    margin: 0 0 50px 0;

    font-size: 64px;
    font-weight: 700;
    line-height: 1.0;
    color: #fff;

    text-shadow: 1px 0 3px rgb(255 255 255 / 25%);
    /* background: linear-gradient(to right top, #0d6efd, #0dcaf0, #0d6efd);
    color: transparent;
    -webkit-background-clip: text; */
}

.mainVisual .main_slide .itm p {
    line-height: 1.3;
    font-size: 24px;
    font-weight: 100;
    color: #fff;
}

.scroll_wrap {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.scroll_text {
    font-size: 14px;
    font-weight: 100;
    color: #fff;
    letter-spacing: 0.12em;
}

.scroll_text::before {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 1px;
    height: 50px;
    background: rgb(255, 255, 255, 0.5);
}

.scroll {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;

    animation: boxmove 2s infinite;
    z-index: 999;
}

@keyframes boxmove {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        bottom: -75px;
    }
}



/* sec02 */
.sec_content02 {
    display: flex;
    flex-direction: column;
}

.sec_content02>* {
    flex: 1;
    justify-content: space-between;
}

.sec_content02 .top {
}

.sec_content02 .top .about_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 50px 0;
}

.sec_content02 .top .about_wrap img  {
    width: 30%;
}

/* 
.sec_content02 .bottom {
    background: #f9f9f9;
    padding: 100px 0;
} */

.sec_content02 .title {
    display: block;
    margin: 0 0 30px 0;
    font-size: 64px;
    font-weight: 900;
}

.sec_content02 .title::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: var(--main_color);
    border-radius: 50%;
    margin: 0 0 0 15px;
}

.sec_content02 .content_desc {
    display: flex;
    gap: 30px;
}

.sec_content02 .content_desc>p {
    flex: 1;
    font-size: 22px;
    padding: 80px 100px;
    background: #f9f9f9;
    border-radius: 20px;
    word-break: keep-all;
}

.sec_content02 .content_desc b {
    font-size: 30px;
    font-weight: 700;
}

.sec_content02 .img_case {
    display: flex;
    gap: 100px;
}

.sec_content02 .img_case>img {
    width: 20%;
    object-fit: contain;
}

.sec_content02 .left {
    flex: 1;
}

.sec_content02 .right {
    flex: 1.5;
}


/* sec03 */
.sec_content03 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.sec_content03>* {
    flex: 1;
    justify-content: space-between;
}

.sec_content03 .center {
    position: relative;
    background: url(../img/service_bg.jpg)no-repeat top center/cover;
    padding: 100px 0;
}

.sec_content03 .center::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
    height: 100%;
}

.sec_content03 .title {
    display: block;
    margin: 0 0 30px 0;
    font-size: 64px;
    font-weight: 900;
    color: #fff;
}

.sec_content03 .sec_content03_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    /* outline: 1px solid red; */
}

.sec_content03 .title::after {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background: var(--main_color);
    border-radius: 50%;
    margin: 0 0 0 15px;
}

.sec_content03 .content_desc>p {
    flex: 1;
    font-size: 22px;
    padding: 80px 100px;
    background: #f9f9f9;
    border-radius: 20px;
    word-break: keep-all;
}

.sec_content03 .content_desc b {
    font-size: 30px;
    font-weight: 700;
}

.sec_content03 .img_case {
    display: flex;
    gap: 100px;
}

.sec_content03 .img_case>img {
    width: 20%;
    object-fit: contain;
}

.sec_content03 .left {
    flex: 1;
}

.sec_content03 .right {
    flex: 1.5;
}

.sec_content03 .content_desc_slide {
    position: relative;
    margin: 0 -15px;
}

.sec_content03 .con {
    background: rgb(255, 255, 255, 0.2);
    margin: 0 15px;
}

.sec_content03 .sec03_slide_text {
    padding: 50px;
    min-height: 280px;
    /* outline: 1px solid red; */
}

.sec_content03 .sec03_slide_text strong {
    display: block;
    font-size: 22px;
    min-height: 55px;
    margin: 0 0 15px 0;
    line-height: 1.35;
    /* outline: 1px solid red; */
}

.sec_content03 .sec03_slide_text p {
    margin: 0 0 15px 0;
    font-size: 16px;
    font-weight: 100;
}

.sec_content03 .arrows button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 4px;
    color: #fff;
    opacity: 0.6;
    background: none;
    border: none;
    cursor: pointer;
}

.sec_content03 .arrows i {
    font-size: 56px;
}

.sec_content03 .arrows .left {
    margin: 0 0 0 -800px;
}

.sec_content03 .arrows .right {
    margin: 0 0 0 800px;
}

.sec_content03 .content_desc_slide .slick-dots {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.sec_content03 .content_desc_slide .slick-dots li {
    display: inline-block;
    margin: 0 10px 0 0;
}

.sec_content03 .content_desc_slide .slick-dots li button {
    font-size: 0;
    border: none;
    background: rgb(249, 249, 249, 0.4);

    width: 15px;
    height: 15px;

    cursor: pointer;
}

.sec_content03 .content_desc_slide .slick-dots li.slick-active button {
    background: var(--main_color);
}


























.totop {
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 28px;
    color: #fff;
    padding: 15px;
    background: var(--main_color);
    border-radius: 10px;

    display: none;
}