* {
    outline: 1px solid --rgb(255, 0, 0, 0.2);
}

body {
    font-family: 'Pretendard', 'Roboto', 'Noto Sans KR', sans-serif;
    letter-spacing: -0.025em;
}

:root {
    /* --main_color: #d74274; */
    --main_color: #49b9e7;
}

p {
    word-break: keep-all;
    line-height: 1.3;
}

.inner {
    max-width: 1340px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    line-height: 80px;
    width: 100%;

    border-bottom: 1px solid rgb(255, 255, 255, 0.3);
}

.header.on {
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.header_wrap {
    display: flex;
    justify-content: space-between;

    max-width: 1700px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    width: 120px;
}

nav ul {
    display: flex;
    gap: 30px;
}

nav a {
    position: relative;

    display: block;
    line-height: 80px;
    color: #fff;

    font-size: 16px;
}

nav.on a {
    color: #444;
}

nav li.on a {
    font-weight: 900;
}

.section {
    height: 100vh;
    background: var(--main_color);
}

.section:nth-of-type(2) {
    background: #fff;
}

.section:nth-of-type(4) {
    background: #fff;
}

.footer {
    background: #fff;
}


/* mainVisual */
.mainVisual {
    background: url(../img/main_01.jpg)no-repeat center center/cover;
}

.mainVisual::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.4;
    height: 100%;
}

.mainVisual .main_slide .itm {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainVisual .main_slide .slick-dots {
    position: absolute;
    bottom: 0;
    left: 0;
}

.mainVisual .main_slide .slick-dots li {
    display: inline-block;
    margin: 0 10px 0 0;
}

.mainVisual .main_slide .slick-dots li button {
    font-size: 0;
    border: none;
    background: rgb(249, 249, 249, 0.4);

    width: 15px;
    height: 15px;

    cursor: pointer;
}

.mainVisual .main_slide .slick-dots li.slick-active button {
    background: var(--main_color);
}

.mainVisual .main_slide .itm strong {
    display: block;
    margin: 0 0 50px 0;

    font-size: 64px;
    font-weight: 700;
    line-height: 1.0;
    color: #fff;
}

.mainVisual .main_slide .itm p {
    line-height: 1.3;
    font-size: 24px;
    font-weight: 100;
    color: #fff;
}

.scroll_wrap {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.scroll_text {
    font-size: 14px;
    font-weight: 100;
    color: #fff;
    letter-spacing: 0.12em;
}

.scroll_text::before {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 1px;
    height: 55px;
    background: rgb(255, 255, 255, 0.5);
}

.scroll {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;

    animation: boxmove 2s infinite;
    z-index: 999;
}

@keyframes boxmove {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        bottom: -80px;
    }
}



/* sec02 */
.sec_content02 {
    display: flex;
    flex-direction: column;
}

.sec_content02>* {
    flex: 1;
    justify-content: space-between;
}

.sec_content02 .top .about_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 50px 0;
}

.sec_content02 .top .about_wrap img {
    width: 22%;
}

.sec_content02 .title {
    display: block;
    margin: 0 0 30px 0;
    font-size: 56px;
    font-weight: 900;
}

.sec_content02 .title::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: var(--main_color);
    border-radius: 50%;
    margin: 0 0 0 15px;
}

.sec_content02 .content_desc {
    display: flex;
    gap: 30px;
}

/* .sec_content02 .box.on {
    animation: move_text 1.5s;
    animation-iteration-count: 1;

    transform: translate(-150%, 0);
}

@keyframes move_text {
    
    0% {
        transform: translate(0, 0);
    }
} */

.sec_content02 .box {
    opacity: 0;
    transform: translateX(-150%);
}

.sec_content02 .box.on {
    animation: move_text 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes move_text {
    0% {
        opacity: 0;
        transform: translateX(-150%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.sec_content02 .content_desc>p {
    flex: 1;
    font-size: 22px;
    font-weight: 300;
    padding: 80px 100px;
    background: #f9f9f9;
    border-radius: 20px;
    word-break: keep-all;
}

.sec_content02 .content_desc b {
    font-size: 30px;
    font-weight: 700;
}

.sec_content02 .img_case {
    display: flex;
    gap: 100px;
}

.sec_content02 .img_case>img {
    width: 20%;
    object-fit: contain;
}

.sec_content02 .left {
    flex: 1;
}

.sec_content02 .right {
    flex: 1.5;
}

/* sec03 */
.sec_content03 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.sec_content03>* {
    flex: 1;
    justify-content: space-between;
}

.sec_content03 .center {
    position: relative;
    background: url(../img/portfolio_bg.jpg)no-repeat top center/cover;
    padding: 100px 0;
}

/* 
.sec_content03 .center::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #000;
    opacity: 0.5;
    height: 100%;
} */

.sec_content03 .title {
    display: block;
    margin: 0 0 30px 0;
    font-size: 56px;
    font-weight: 900;
    color: #fff;
}

.sec_content03 .title::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: var(--main_color);
    border-radius: 50%;
    margin: 0 0 0 15px;
}

.sec_content03 .sec_content03_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.sec_content03 .content_desc>p {
    flex: 1;
    font-size: 22px;
    padding: 80px 100px;
    background: #f9f9f9;
    border-radius: 20px;
    word-break: keep-all;
}

.sec_content03 .content_desc b {
    font-size: 30px;
    font-weight: 700;
}

.sec_content03 .img_case {
    display: flex;
    gap: 100px;
}

.sec_content03 .img_case>img {
    width: 20%;
    object-fit: contain;
}

.sec_content03 .left {
    flex: 1;
}

.sec_content03 .right {
    flex: 1.5;
}

.sec_content03 .content_desc_slide {
    position: relative;
    margin: 0 -15px;
}

.sec_content03 .con {
    background: rgb(119, 119, 119, 0.3);
    margin: 0 15px;
}

.sec_content03 .sec03_slide_text {
    padding: 50px;
    min-height: 280px;
}

.sec_content03 .sec03_slide_text strong {
    display: block;
    font-size: 22px;
    min-height: 55px;
    margin: 0 0 15px 0;
    line-height: 1.35;
    word-break: keep-all;
}

.sec_content03 .sec03_slide_text p {
    margin: 0 0 15px 0;
    font-size: 16px;
    font-weight: 100;
}

.sec_content03 .arrows button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 4px;
    color: #f9f9f9;
    background: none;
    border: none;
    cursor: pointer;
}

.sec_content03 .arrows i {
    font-size: 18px;
    padding: 18px;
    background: rgb(221, 221, 221, 0.2);
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 50%;
}

.sec_content03 .arrows .left {
    margin: 0 0 0 -800px;
}

.sec_content03 .arrows .right {
    margin: 0 0 0 800px;
}

.sec_content03 .content_desc_slide .slick-dots {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.sec_content03 .content_desc_slide .slick-dots li {
    display: inline-block;
    margin: 0 10px 0 0;
}

.sec_content03 .content_desc_slide .slick-dots li button {
    font-size: 0;
    border: none;
    background: rgb(249, 249, 249, 0.4);

    width: 15px;
    height: 15px;

    cursor: pointer;
}

.sec_content03 .content_desc_slide .slick-dots li.slick-active button {
    background: var(--main_color);
}


/* sec04 */
.sec04 {
    position: relative;
}

/* .sec04_bg {
    width: 41%;
    height: 100vh;
    background: url(../img/contact_bg.jpg)no-repeat center center/cover;
    opacity: 0.4;
} */

.sec_content04 .title {
    display: block;
    margin: 0 0 30px 0;
    font-size: 56px;
    font-weight: 900;
}

.sec_content04 .title::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: var(--main_color);
    border-radius: 50%;
    margin: 0 0 0 15px;
}

.sec_content04 p {
    font-size: 22px;
    margin: 0 0 50px 0;
    line-height: 1;
}

/*
.sec_content04 .partners ul {
    display: flex;
} */

.sec_content04 {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sec_content04 .left_itm {
    flex: 1;
    padding: 100px 0;

}

.sec_content04 .left_tit h2 {
    position: relative;
    font-size: 51px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.sec_content04 .left_tit h2:before {
    position: absolute;
    top: -10px;
    left: -20px;
    content: "";
    width: 17px;
    height: 4px;
    background: #a63145;
    transform: rotate(-50deg);
}

.sec_content04 .left_tit p {
    font-size: 22px;
    font-weight: 500;
    line-height: 1.4;
    word-break: keep-all;
    margin: 0 0 100px 0;
}

.sec_content04 .left_tit .menu {
    border-top: 1px solid #191919;
    font-size: 18px;
}

.sec_content04 .left_tit .menu li {
    display: block;
    padding: 25px 30px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
    font-weight: 300;
}

.sec_content04 .left_itm {
    flex: 1.5;
}

.sec_content04 .right_itm {
    flex: 3;
}

.sec_content04 .content {
    padding: 100px 0 100px 60px;
}

.sec_content04 .right_itm span {
    display: block;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 30px 0;
    padding: 20px 30px;
    background: #49b9e7;
    color: #fff;
}

/* .sec_content04 .right_itm h3::before {
    display: inline-block;
    content: "\e93f";
    font-size: 12px;
    padding: 6px;
    border-radius: 50%;
    background: #777;
    color: #fff;
    font-family: xeicon;
    margin: 0 10px 0 0;
    vertical-align: 2px;
} */

.sec_content04 .content01 .con_01 {
    display: flex;
    gap: 10px;
}

/* .sec_content04 .content01 .con_01 li {
    padding: 30px 50px;
    background: #eee;
} */

.sec_content04 .content02 .con_02 {
    display: flex;
    gap: 10px;
}

/* .sec_content04 .content02 .con_02 li {
    padding: 30px 50px;
    background: #eee;
} */

.sec_content04 .content01 .con_01 img {
    margin: 0 0 10px 0;
}

.sec_content04 .content02 .con_02 img {
    margin: 0 0 10px 0;
}

.sec_content04 .content01 {
    display: none;
}

.sec_content04 .content02 {
    display: none;
}

.sec_content04 .content01.on {
    display: block;
}

.sec_content04 .content02.on {
    display: block;
}

.sec_content04 .menu li.on {
    color: #bb3047;
    font-weight: 700;
    background: #f9f9f9;
}


/* sec05 */
.sec_content05 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.sec_content05 .center {
    position: relative;
    background: url(../img/portfolio_bg.jpg)no-repeat top center/cover;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sec_content05 .title {
    display: block;
    margin: 0 0 30px 0;
    font-size: 56px;
    font-weight: 900;
    color: #fff;
}

.sec_content05 .title::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: var(--main_color);
    border-radius: 50%;
    margin: 0 0 0 15px;
}

.sec_content05 .slider_wrap {
    position: relative;
    height: 630px;
}


.sec_content05 .slider_wrap .portfolio_slide_text p {
    line-height: 1;
    font-size: 22px;
}

.sec_content05 .portfolio_slide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.sec_content05 .portfolio_slide .port_img {
    width: 100%;
    height: 480px;
    object-fit: cover;
}

.sec_content05 .portfolio_arrows button {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 4px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}

.sec_content05 .portfolio_arrows i {
    font-size: 18px;
    padding: 18px;
    background: rgb(221, 221, 221, 0.2);
    border: 1px solid rgb(255, 255, 255, 0.3);
    border-radius: 50%;
}

.sec_content05 .portfolio_arrows .left {
    margin: 0 0 0 -160px;
}

.sec_content05 .portfolio_arrows .right {
    margin: 0 0 0 160px;
}

.sec_content05 .slick-dots {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translate(-50%, 0);
}

.sec_content05 .slick-dots li {
    display: inline-block;
    margin: 0 10px 0 0;
}

.sec_content05 .slick-dots li button {
    font-size: 0;
    border: none;
    background: rgb(249, 249, 249, 0.4);

    width: 15px;
    height: 15px;

    cursor: pointer;
}

.sec_content05 .slick-dots li.slick-active button {
    background: var(--main_color);
}



/* footer */
.sec_content06 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background: url(../img/contact_bg.jpg)no-repeat top center/cover;
}

.sec_content06>* {
    flex: 1;
    justify-content: space-between;
}

.sec_content06 .center {
    position: relative;
    padding: 100px 0;
}

.sec_content06 .center::after {
    content: "";
    width: 1px;
    height: 150px;
    background: #ddd;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
}

.sec_content06 .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -25%);
    z-index: 999;

    display: flex;
    gap: 30px;

    padding: 0 0 180px 0;
}

.sec_content06 .inner>div {
    flex: 1;
}

.sec_content06 .title {
    display: block;
    margin: 0 0 30px 0;
    font-size: 56px;
    font-weight: 900;
}

.sec_content06 .title::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: var(--main_color);
    border-radius: 50%;
    margin: 0 0 0 15px;
}


.sec_content06 .inner .contact_left p {
    font-size: 22px;
}

.sec_content06 .inner .contact_right strong {
    display: block;
    margin: 0 0 30px 250px;
    font-size: 40px;
    font-weight: 900;
}

.sec_content06 .inner .contact_right strong::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background: var(--main_color);
    border-radius: 50%;
    margin: 0 0 0 15px;
}

.sec_content06 .inner .contact_right span {
    display: block;
    margin: 0 0 15px 250px;
    font-size: 28px;
    font-weight: 100;
}

.sec_content06 .inner .contact_right span i {
    margin: 0 15px 0 0;
    color: var(--main_color);
    vertical-align: middle;
}

.sec_content06 .footer_wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    background: #333;
}

.sec_content06 .footer_wrap .footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 180px;

    color: #ddd;
    font-weight: 100;
}

.sec_content06 .footer_wrap img {
    width: 120px;
    margin: 0 0 25px 0;
}

.sec_content06 .footer_wrap ul {
    display: flex;
    margin: 0 0 15px 0;
}

.sec_content06 .footer_wrap ul li span {
    padding: 0 20px;
}

.sec_content06 .footer_wrap ul li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #777;
}

.sec_content06 .footer_wrap span {
    font-size: 15px;
}


/* top button */
.totop {
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 28px;
    color: #fff;
    display: none;
}

.totop a {
    padding: 13px 15px;
    background: var(--main_color);
    border-radius: 10px;

}

.mopen {
    position: fixed;
    top: 60px;
    right: 15px;
    z-index: 1000;
    border: none;
    background: transparent;
    display: none;
}

.mopen i {
    background: rgba(137, 137, 137, 0.7);
    padding: 8px;
    font-size: 26px;
}


/* MOBILE */
@media screen and (max-width: 767px) {
    .totop {
        position: fixed;
        bottom: 10px;
        right: 10px;
        font-size: 20px;
        color: #fff;
        padding: 15px;
        background: var(--main_color);
        border-radius: 10px;

        display: none;
    }

    .mopen {
        position: fixed;
        top: 18px;
        right: 15px;
        z-index: 3000;
        border: none;
        background: transparent;
        display: block;
    }

    .mopen {
        display: none;
    }

    .mopen i {
        background: rgba(137, 137, 137, 0.7);
        padding: 8px;
        font-size: 27px;
    }

    .section {
        height: 100vh;
        background: var(--main_color);
    }

    nav {
        display: none;
    }

    /* nav {
        position: fixed;
        left: -100%;
        top: 0;
        z-index: 1000;

        width: calc(100% - 75px);
        height: 100vh;
        border-right: none;
        font-weight: 500;
        transition: 0.5s;
        background: #333;
    }

    .header.on nav {
        left: 0;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    nav a {
        position: relative;

        display: block;
        line-height: 80px;
        color: #fff;

        font-size: 16px;
    }

    nav.on a {
        color: #444;
    }

    nav li.on a {
        font-weight: 900;
    } */

    /* mainVisual */
    .mainVisual {
        background: url(../img/main_01.jpg)no-repeat center center/cover;
    }

    .mainVisual::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: #000;
        opacity: 0.4;
        height: 100%;
    }

    .mainVisual .main_slide .itm {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mainVisual .main_slide .slick-dots {
        position: absolute;
        bottom: 150px;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .mainVisual .main_slide .slick-dots li {
        display: inline-block;
        margin: 0 10px 0 0;
    }

    .mainVisual .main_slide .slick-dots li button {
        font-size: 0;
        border: none;
        background: rgb(249, 249, 249, 0.4);

        width: 15px;
        height: 15px;

        cursor: pointer;
    }

    .mainVisual .main_slide .slick-dots li.slick-active button {
        background: var(--main_color);
    }

    .mainVisual .main_slide .itm strong {
        display: block;
        margin: 0 0 30px 0;

        font-size: 40px;
        font-weight: 700;
        line-height: 1.0;
        color: #fff;
    }

    .mainVisual .main_slide .itm p {
        line-height: 1.3;
        font-size: 18px;
        font-weight: 100;
        color: #fff;
    }

    .scroll_wrap {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .scroll_text {
        font-size: 14px;
        font-weight: 100;
        color: #fff;
        letter-spacing: 0.12em;
    }

    .scroll_text::before {
        content: "";
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 1px;
        height: 40px;
        background: rgb(255, 255, 255, 0.5);
    }

    .scroll {
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 10px;
        height: 10px;
        background: #fff;
        border-radius: 50%;

        animation: boxmove 2s infinite;
        z-index: 999;
    }

    @keyframes boxmove {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 1;
            bottom: -60px;
        }
    }

    /* sec02 */
    .sec_content02 .top .about_wrap img {
        width: 50%;
        padding: 30px 0 0 0;
    }

    .sec_content02 .title {
        margin: 0 0 20px 0;
        font-size: 50px;
    }

    .sec_content02 .content_desc {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .sec_content02 .content_desc>p {
        flex: 1;
        font-size: 18px;
        font-weight: 300;
        padding: 20px;
        background: #f9f9f9;
        border-radius: 20px;
        word-break: keep-all;
    }

    .sec_content02 .content_desc b {
        font-size: 20px;
        font-weight: 700;
    }

    /* sec03 */
    .sec_content03 .title {
        margin: 0 0 20px 0;
        font-size: 50px;
    }

    .sec_content03 .sec03_slide_text {
        min-height: 300px;
    }

    /* sec04 */
    .sec_content04 .title {
        margin: 0 0 20px 0;
        font-size: 50px;
    }

    .sec_content04 .title::after {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        background: var(--main_color);
        border-radius: 50%;
        margin: 0 0 0 15px;
    }

    .sec_content04 p {
        font-size: 18px;
        margin: 0 0 30px 0;
        line-height: 1.3;
    }

    .sec_content04 .partners ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px 10px;
    }

    /* footer */
    .sec_content06 {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
    }

    .sec_content06>* {
        flex: 1;
        justify-content: space-between;
    }

    .sec_content06 .center {
        position: relative;
        background: url(../img/contact_bg.jpg)no-repeat top center/cover;
        padding: 100px 0;
    }

    .sec_content06 .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;

        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .sec_content06 .title {
        margin: 0 0 20px 0;
        font-size: 50px;
    }

    .sec_content06 .title::after {
        content: "";
        display: inline-block;
        width: 12px;
        height: 12px;
        background: var(--main_color);
        border-radius: 50%;
        margin: 0 0 0 15px;
    }

    .sec_content06 .inner>div {
        flex: 1;
        justify-content: space-between;
    }

    .sec_content06 .inner .contact_left p {
        font-size: 18px;
    }

    .sec_content06 .inner .contact_right {
        padding: 30px;
        background: rgb(255, 255, 255, 0.2);
        border-radius: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin: 0 0 50px 0;
    }

    .sec_content06 .inner .contact_right strong {
        display: block;
        margin: 0 0 20px 0;
        font-size: 20px;
        font-weight: 700;
        padding: 15px 20px;
        background: var(--main_color);
    }

    .sec_content06 .inner .contact_right span {
        display: block;
        margin: 0 0 5px 0;
        font-size: 20px;
        font-weight: 100;
    }

    .sec_content06 .inner .contact_right span i {
        margin: 0 15px 0 0;
        color: var(--main_color);
        vertical-align: middle;
    }

    .sec_content06 .footer_wrap {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 200px;
        background: #444;
    }

    .sec_content06 .footer_wrap .footer_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200px;

        color: #ddd;
        font-weight: 100;
    }

    .sec_content06 .footer_wrap img {
        width: 80px;
        margin: 0 0 25px 0;
    }

    .sec_content06 .footer_wrap ul {
        display: flex;
        flex-direction: column;
        margin: 0 0 15px 0;
        text-align: center;
    }

    .sec_content06 .footer_wrap ul li {
        margin: 0 0 5px 0;
    }

    .sec_content06 .footer_wrap ul li span {
        padding: 0 20px;
    }

    .sec_content06 .footer_wrap ul li~li::before {
        display: none;
    }

    .sec_content06 .footer_wrap span {
        font-size: 14px;
    }
}